body, html{
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.container *{
    font-family: "Roboto", serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
}

.header{
    grid-column: 2 / 4;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
}

.sidebar{
    grid-row: 1 / 4;
}

.article{
    grid-column: 2 / 4;
    background-color: azure;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* Grid Elements for the ENTIRE container */
.header, .sidebar, .article{
    /* border: 1px solid black; */
}

/* elements within the HEADER */
.search-container, .profile, .welcome-msg, .header-btn-container{
    /* border: 1px solid red; */
}


/* Grid Elements within ARTICLE/MAINCONTENT */
.projects, .announcements, .trending{
    border: 1px solid blue;
}

/* 3 X 2 grid for project Cards */
.project-container{
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
}


.projects .card{
    background-color: yellow;
}

/* Placeholder CSS !!!!!!!!!!!!!!!!!!!!! */
.welcome-msg .photo, .profile .photo, .trend-pic {
  background-color: green;
  color: black;
  height: 50px;
  width: 50px;
  font-size: 12px;
  font-weight: normal;
  border-radius: 30px;
}




/* .trending{
    display: grid;
    grid-template-columns: 1fr 3fr;
} */


/*---------- Sidebar section css -------------------*/

.sidebar{
    background: #9ceaef;
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.logo-icon svg{
    height: 60px;
    width: 60px;
}

.logo-text{
    font-family: "roboto", serif;
    font-size: 24px;
}

/* ------------Primary Links / Secondary Links-------------- */

.primary-links ul, .secondary-links ul{
    list-style: none;
    display: grid;
    gap: 15px;
    padding: 10px 30px;
}

.primary-links li, .secondary-links li{
    font-size: 20px;
}

.primary-links li, .secondary-links li {
    display: flex;
    justify-content: start;
    align-items: center;
}

.primary-links svg, .secondary-links svg {
    padding-right: 10px;
}

/* Adjust size of icons to match Primary links icon (Reason: Different source of SVG images) */
.secondary-links svg{
    height: 24px;
    width: 24px;
}



/* ----HEADER....SEARCH--------- */

.search-container{
    display: flex;
    align-items: center;
    grid-column: 2fr;
    padding-left: 35px;
}

.search-container svg{
    height: 30px;
    width: 30px;
}

#search-bar{
    width: 700px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(240, 243, 243);
}

/* ----HEADER....Profile--------- */

/* .profile{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
} */

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.profile .bell-icon{
    padding-right: 30px;
}

.bell-icon{
    height: 30px;
    width: 30px;
}

.profile #profile{
    height: 50px;
    width: 50px;
}

/* ----HEADER---Welcome message */


.welcome-msg{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
}

.welcome-msg #profile{
    height: 80px;
    width: 80px;
}

.welcome-text h2{
    margin-top: 0;
}

.welcome-text p{
    margin-bottom: 0;
}

/* ---HEADER---Buttons--- */

.header-btn-container{
    display: grid;
    align-items: center;
    justify-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.header-btn-container button{
    height: 40px;
    width: 130px;
    border-radius: 25px;
    border: 0;
    background-color: #9ceaef;
}



/* ---ARTICLE */

.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}
